<div class="nav">
        <% if (user) { %> 
            <div class="welcome">
                <p>Welcome back, <%= user.first_name %>!</p>
            </div>
            <div class="links">
                <a href="/add-message">Create a message</a>
                <a href="/member">Become a member</a>
                <a href="/logout">Log out</a>
            </div>

        <% } else { %> 
            <div class="links">
                <a href="/sign-up">Sign up</a>
                <a href="/login">Log in</a>
            </div>
            <% } %>
</div>