<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <div class="homepage-title">
      <h1>Members Only</h1>
      <div class="project-about">
        <p>Odin Project NodeJS Course Project #4</p>
        <p>A program by <a href="https://www.github.com/mizakson">Mizakson</a></p>
      </div>
    </div>
    <div class="homepage-options">
      <button><a href="/sign-up">Sign Up</a></button>
      <p>or</p>
      <button><a href="/log-in">Login</a></button>
    </div>
  </body>
</html>