<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="header">
            <div class="about">
                <div class="project-name">
                    <h1>Members Only</h1>
                </div>
                <div class="project-credits">
                    <p>Odin Project NodeJS Course Project #4 </p>
                    <p>A program by <a href="https://www.github.com/mizakson">Mizakson</a></p>
                </div>
            </div>
            <!-- include('partials/navBar.ejs', { user: user }) -->
        </div>
        <!-- render messages here -->
    </body>
</html>