<!DOCTYPE html>
<html>
    <head>
        <title>Become a member</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include('partials/navBar.ejs', { user: user }) %>
            <form action="/users/member" method="post">
                <label for="secretCode">Guess the passcode!</label>
                <input type="text" name="secretCode" id="secretCode" required>
                <div class="btns">
                    <button type="submit">Submit</button>
                    <button><a href="/">Go Home</a></button>
                </div>
            </form>
        </div>
    </body>
</html>