<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div class="title">
            <h1><%= title %></h1>
            <%- include("partials/pw-error.ejs") %>
        </div>
        <div class="content">
            <!-- form here -->
             <form action="" method="post">
                <label for="firstName">First Name: </label>
                <input type="text" id="firstName" name="firstName" placeholder="John" minlength="2" maxlength="75" required>

                <label for="lastName">Last Name: </label>
                <input type="text" id="lastName" name="lastName" placeholder="Doe" minlength="2" maxlength="75" required>

                <label for="username">Username: </label>
                <input type="text" name="username" id="username" minlength="6" maxlength="75" required>

                <label for="password">Password: </label>
                <input type="password" name="password" id="password" minlength="8" required>

                <label for="confirmPassword">Confirm Password: </label>
                <input type="password" name="confirmPassword" id="confirmPassword" minlength="8" required>

                <!-- <fieldset style="border: none;">
                    <p><strong>If you know the answer to this riddle, your account will gain membership privileges! </strong>**This field is optional**</p>
                    <p style="font-style: italic;">What is always coming, but never arrives?</p>
                    <label for="memberPassword">Answer (Member Password): </label>
                    <input type="text" name="memberPassword" id="memberPassword">
                </fieldset> -->

                <button type="submit">Sign Up</button>
             </form>
             <div class="options">
                <button><a href="/">Go Home</a></button>
             </div>
        </div>
    </body>
</html>